fastapi == 0.95.*
uvicorn == 0.19.*
beanie == 1.11.*
python-dotenv == 0.20.*
azure-identity == 1.21.0
azure-keyvault-secrets == 4.4.*
opentelemetry-instrumentation-fastapi == 0.42b0
azure-monitor-opentelemetry-exporter == 1.0.0b19

pip freeze | grep python-dotenv >> requirements.txt